$dsplay-1:(
    dflex:flex,
    wrp:wrap,
    nwrp:nowrap,
    just-cont-btw:space-between,
    al-itms-ctr:center,
    txt-decoration-non:none,
    just-cont-around:space-around,
    txt-align-ctr:center,
);
