
#grilla-portfolio{
    @include display-grid(grid, 1fr 1fr 1fr, 1fr 1fr,"imagen-1 imagen-2 imagen-3"
    "imagen-4 imagen-5 imagen-6");
    
    @media screen and (max-width:750px){
        display: block;
        margin: 0 auto;
        }
        
        .img-area{
            margin: 30px auto;
            transition: 0.3s all ease;

           @media screen and (min-width:750px){
             &:hover{
                transform: scale(120%);
            } }
              

            img{
                width: 300px;
                height: 300px;
                
            @media  screen and (max-width:750px) {
                width: 220px;
                height: 220px;
                position: relative;
               margin: 0 20%;}

                            
                #img-1{
                    grid-area: imagen-1;
                }
                #img-2{
                    grid-area: imagen-2;
                }
                #img-3{
                    grid-area: imagen-3;
                }
                #img-4{
                    grid-area: imagen-4;
                }
                img #img-5{
                    grid-area: imagen-5;
                }
                img #img-6{
                    grid-area: imagen-6;
                }


                
            }
            h3{
                @media screen and (max-width:750px) {
                
                font-size: 1rem;
                margin: 10px 20%;}
            }
            p{
                @media screen and (max-width:750px){
                font-size: 0.8rem;
                margin: 5px 20%;
                    
                }
            }
        }
}

