#main-servicios{
    font-family: $font-fmly;
    .contenido{
        background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
        height: 100%;

        p{
            color: $clr-second;
        }
    }
}


#acomodar-img{
    img{
        object-fit: contain;
    }
}